main, footer{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

footer{
  background-color: #f1f1f1;
  margin-bottom: 5vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #982c61;
  text-transform: uppercase;
  border-bottom: 2px solid #982c61;
  padding-bottom: 10px;
  padding-top: 3%;
}

section {
  margin-bottom: 40px;
}

p {
  margin-bottom: 20px;
  line-height: 1.8;
}

img {
  border-radius: 50%;
  transition: box-shadow 0.2s ease;
  box-shadow: 0 0 transparent;
  display: block;
  margin: 2% auto;
}

.sources{
  padding-left: 1vw;
}