*{
    margin: 0px 10px;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
}

/* .cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
} */

/* .card:hover{
    background: black;
    color: #1d7484;
    transition: 0.5s;
} */

.card {
    flex: 0 0 calc(33.33% - 20px); /* Each card takes up 33.33% of the container width minus the margin */
    margin: 10px; /* Adjust margin as needed */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 10px;
}

img{
    border-radius: 5px 5px 0 0;
}